---
import "../styles/Contact.css"
---

<section class="contact">
    <h2 class="contact__title">CONTACT</h2>
    <form class="contact__form">
        <div class="contact__form__item">
            <label>Nombre
                <input type="text" name="name" id="name" placeholder="John">
            </label>
        </div>
        <div class="contact__form__item">
            <label>Apellido
                <input type="text" name="lastname" id="lastname" placeholder="Doe">
            </label>
        </div>
        <div class="contact__form__item">
            <label>Email
                <input type="email" name="email" id="email" placeholder="your@email.com">
            </label>
        </div>
        <div class="contact__form__item">
            <label>Mensaje
                <textarea name="message" id="message" placeholder="Message"></textarea>
            </label>
        </div>
        <div class="contact__form__item">
            <input type="submit" value="Send">
        </div>
    </form>
</section>