---
import "../styles/Header.css";
---

<header class="header">
  <input type="checkbox" id="open-manu" class="header__checkbox" />
  <label for="open-manu" class="header__open-nav-button" role="button">
    =
  </label>
  <div class="header__logo-container">
    <img src="logo.png" alt="logo" class="header__logo" />
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="#">About</a></li>
      <li class="header__nav-item"><a href="#">Portfolio</a></li>
      <li class="header__nav-item"><a href="#">Contacto</a></li>
    </ul>
  </nav>
</header>
