---
import "../styles/Portfolio.css"
---
<section class="portfolio" id="portfolio">
    <h2 class="portfolio__title">PORTFOLIO</h2>
    <div class="portfolio__projets-container">
        <div class="portfolio__project-item">
            <h2 class="portfolio__project-name">PROJET</h2>
        </div>
        <div class="portfolio__project-item">
            <h2 class="portfolio__project-name">PROJET</h2>
        </div>
        <div class="portfolio__project-item">
            <h2 class="portfolio__project-name">PROJET</h2>
        </div>
        <div class="portfolio__project-item">
            <h2 class="portfolio__project-name">PROJET</h2>
        </div>
        <div class="portfolio__project-item">
            <h2 class="portfolio__project-name">PROJET</h2>
        </div>
        <div class="portfolio__project-item">
            <h2 class="portfolio__project-name">PROJET</h2>
        </div>
    </div>
</section>